.clt {
    height: 50px;
}
.content .box-header .regis {
    margin-left: 5%;
    margin-bottom: 1%;
    color: #fff;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #4e73df;
}
.content .box-header .regis:hover {
    background-color: rgb(39, 80, 204);
}
.edit {
    background-color: rgb(80, 156, 4);
    color: white;
    border: none;
    border-radius: 2px;
    outline: none;
}
.edit:hover {
    background-color: rgb(47, 94, 1);
    color: rgb(202, 200, 200);
}

.delete {
    margin-top: 2px;
    background-color: orangered;
    padding: 1px 8px 1px;
    color: white ;
    border: none;
    border-radius: 2px;
    outline: none;
}
.delete:hover{
    background-color: rgb(167, 46, 2);
    color: rgb(202, 200, 200);
}
.closing {
    background-color: transparent;
    border: none;
    outline: none;
}
.bills-con {
    text-align: center;
}
.bills-con .bills {
    text-align: center;
}
.bill-money {
    background-color: rgb(212, 212, 60);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;
}
.bill-money:hover {
    background-color: rgb(131, 131, 36);
    color: rgb(202, 200, 200);
}
.eye {
    background-color: #78a0f8;
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;
}
.eye:hover {
    background-color: #385ba8;
    color: rgb(202, 200, 200);
}
.edit-text {
    padding: 0;
    float: right;
    border: none;
}
.label-text{
    color: #2e59d9;
    cursor: pointer;
}
.label-text:hover {
    border-bottom: 1px solid #2e59d9;
}
.btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,
    border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.leg {
    text-transform: none;
}
