.clt {
    height: 50px;
}
.content .box-header .regis {
    margin-left: 5%;
    margin-bottom: 1%;
    color: #fff;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #4e73df;
}
.content .box-header .regis:hover {
    background-color: rgb(39, 80, 204);
}
.edit {
    background-color: rgb(80, 156, 4);
    color: white;
    border: none;
    border-radius: 2px;
    outline: none;
}
.edit:hover {
    background-color: rgb(47, 94, 1);
    color: rgb(202, 200, 200);
}

.delete {
    margin-top: 2px;
    background-color: orangered;
    padding: 1px 8px 1px;
    color: white ;
    border: none;
    border-radius: 2px;
    outline: none;
}
.delete:hover{
    background-color: rgb(167, 46, 2);
    color: rgb(202, 200, 200);
}
.closing {
    background-color: transparent;
    border: none;
    outline: none;
}
.bills-con {
    text-align: center;
}
.bills-con .bills {
    text-align: center;
}
.bill-money {
    background-color: rgb(212, 212, 60);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;
}
.bill-money a {
    text-decoration: none;
    color: white;
}
.bill-money:hover {
    background-color: rgb(131, 131, 36);
    color: rgb(202, 200, 200);
}
.eye {
    background-color: #78a0f8;
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;
}
.eye a {
    text-decoration: none;
    color: #fff;
}
.eye:hover {
    background-color: #385ba8;
    color: rgb(202, 200, 200);
}
.edit-text {
    padding: 0;
    float: right;
    border: none;
}
.label-text{
    color: #2e59d9;
    cursor: pointer;
}
.label-text:hover {
    border-bottom: 1px solid #2e59d9;
}
.btn-edit {
    color: white;
}
.btn-edit:hover {
    background-color: rgb(47, 94, 1);
    color: rgb(202, 200, 200);
}
.navs {
    margin-left: 50px;
}
.color a {
    color: grey;
}
.naci {
    border-bottom: 2px solid #4e73df;
}
.bh {
    border-right: 1px solid grey;
}
.mink {
    color:rgb(248, 78, 78);
}
.print {
    border: none;
    outline: none;
    background-color: rgb(35, 150, 189);
    border-radius: 2px;
    color: #fff;
}
.form-group #type {
    transition: all 0.3s ease-in-out;
}
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
}
.green-btn {
    background-color: rgb(39, 167, 39);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.green-btn:hover {
    background-color: rgb(17, 102, 17);
}
.show {
    font-size: 12px;
}
.options {
    font-size: 10px;
    padding: 5px;
}
.searc {
    border: 1px solid lightgray;
    height: 30px;
}
.sear {
    border: 1px solid lightgray;
    height: 30px;
    width: 40%;
    outline: 1px solid darkgray;
}
.searchi {
    height: 20px;
    width: 29%;
    border: 1px solid rgb(15, 5, 5);
    outline: none;
}
.super {
    font-size: 11px;
    color: black;
    border: 1px solid black;
}
.black {
    color: black;
    margin-left: 20px;
}
.for {
    border-top: 2px solid #2e59d9;
}
.calculate {
    background-color: #2e59d9;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.bill-wave {
    background-color: rgb(57, 179, 57);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.bill-wave:hover {
    background-color: rgb(43, 119, 43);
    color: white;
}
.print:hover {
    background-color: rgb(30, 102, 126);
    color: white;
}